header {
    color: white;
    background-color: #E94656;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.cards {
    margin: 10px;
    box-shadow: 5px 5px 10px gray;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card-cover {
    width: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: #0077F7;
    color: white;
}
.card-cover h3, h4{
    padding: 5% 5% 5% 5%;
    width: 100%;
}
.card-body {
    background-color: white;
}
.card-content p{
    margin: 0%;
    border: 1px solid gray;
    padding: 3%;
}
#borderBot {
    border-bottom: none;
}